{{page-title "Index"}}
<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<div class="rentals">
  <form>
    <label for="search">
      <span>Where would you like to stay?</span>
      <input id="search" class="light">
    </label>
  </form>
  <ul class="results">
    {{#each @model as |rental|}}
    <li>
      <Rental @rental={{rental}} />
    </li>
    {{/each}}
  </ul>
</div>